/* Navbar styles */
.nav {
	width: 100vw;
	min-height: 8vh;
    background-color: darkred;
	/*background-image: linear-gradient(to bottom, #ffdc8fc5, #00000000);*/
	

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-side {
	display: flex;
	flex-direction: row;
	margin: 0 5rem;
}

.nav-item {
	color: white;
	font-size: 28px;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    text-decoration: none;
}

.nav-item:hover {
	cursor: pointer;
    background-image: linear-gradient(to bottom, darkred, rgb(80, 0, 0));
}

.nav-mobile {
	display: none;
}

#sidebar {
	display: none;
}

@media (max-width: 560px) {
	.nav {
		display: none;
	}
	.nav-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 8vw;
        background-color: darkred;
	}

	.home {
		font-size: 48px;
		padding: 1.5rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
        color: white;
	}

	#hamburger,#x-icon {
		width: 3em;
		height: 3em;
		align-self: center;
		justify-self: center;
		cursor: pointer;
	}

	#x-icon {
		display: none;
		z-index: 10;
	}

	#darken {
		width: 100vw;
		height: 100vh;
		background-color: black;
		opacity: 0;
		display: none;
		position: fixed;
		z-index: 5;
	}

	#sidebar {
		display: none;
		position: fixed;
		left: 100vw;
		top: 0;
		padding-top: 10vh;
		background-image: linear-gradient(to bottom, darkred, rgb(80, 0, 0));
		width: 60vw;
		height:100vh;
		z-index: 8;
	}

	.side-item {
		margin-bottom: 2vh;
		margin-left: 5vw;
		font-size: 2em;
        color: white;
	}


}